* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  font-size: 15px;
  padding: 15px;
}

/* helper */

.ds_flex {
  display: flex;
  justify-content: space-between
}

.txt-a{
  text-align: center;

}

.mright-8 {
  margin-right: 8px;
}

.mleft-40 {
  margin-left: 40px;
}
.mright-40 {
  margin-right: 40px;
}
.position {
  position: relative;
  top: 2px;
}
/* helper fine */
.top_header {
  background: #122439;
  color: #bcbebc;
}


.icon_social a i:hover{

  cursor: pointer;
}
.icon-social ul {
  list-style: none;
}

.icon-social ul li a {
  color: #bcbebc;
}




.nav_header {
  position: relative;
}

.nav_header .container {
  margin-top: 40px;
  font-size: 19px;
  line-height: 1;
  position: relative;
  z-index: 1;
}



.logo img{
  width: 100px;
  cursor: pointer;
}



/* NAV */
.navbar_menu ul  {
  list-style: none;
}

 .navbar_menu ul li a {
  text-decoration: none;
  color: #504f51;
  font-size: 15px;
  font-weight: 700;
}

 .navbar_menu ul li a::hover {
  color: #00a6a6;
}

.btn_getin {
  background: #1c918e;;
  line-height: 20px;
  padding: 10px 15px;

}

.btn_getin:hover, .btn_cent:hover {
  background: rgba(5, 130, 131, .8);

}
.btn_cent{
  background: #1c918e;;
  line-height: 20px;
  padding: 10px 10px;

}

.bg{

  background-image: url("../img/bg-parallax.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 780px;
}
 .bg_text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}
.pos_btn{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-top: 150px
}

.bg_text p{
  color:#bcbebc;
  font-size: 20px;

}
.bg_text a{
  color: #038484;
  text-decoration: none;
  font-weight: 400;
  margin-right: 20px;

}



.btn2 {

  padding: 15px 20px;
  border: 2px solid #1c918e;;
  border-radius: 5px;
  line-height: 20px;
}

.btn2:hover {
  background: #1c918e;;
  transition: all .2s ease-out 0s;
}



h1 {
  font-size: 90px;
  font-family: 'Lato', sans-serif;
  color:#1d2023;
  text-align: center;
}

h2 {
  color: #21333e;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
}

h3 {
  color: #1d2023;
  font-size: 22px;
  margin-top: 25px;
}

h4 {
  font-size: 14px;
  color: #00a6a6;
  display: inline-block;
  margin: 100px 0 25px;
  font-weight: bold;
}








/* section_card */
.section_card {

  background: #eef1ed;
  padding-bottom: 150px;
}

.section_card .container:not(:first-child) {
  margin-top: 30px;
}
.section_card h2{
   color:#1d2023;
}


.section_card p {
  margin-top: 30px;
  font-size: 16px;
  width: 950px;
  color: #bcbebc;

}

.section_card .card_area-btn {
  display: flex;
  align-items: flex-end;
}

.card_area-btn a {
  text-decoration: none;
  font-weight: 600;

}

.section_card .container {
  flex-wrap: wrap;
}

 .card {
  margin-top: 30px;
  padding: 60px 50px 60px;
  background: #ffffff;;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .4s;
}

 .card:hover {
  color: #ffffff;
  transform: translateY(-5%);
}

 .card-item {
 color: #1c918e;;
}

 .card-item i {
 font-size: 50px;
}



.card-item p {
 color: #bcbebc;
 width: 250px;
}

.card a i {
  color: #1c918e;;
  font-size: 25px;

}


/* section box */
.box_left, .box_right{
  width: 50%;
  background-color: #122439;


}

 .box_right img{
  width: 100%;
}

.box_about {
  margin-left: 20%;
}

.box_about p{
color:#bcbebc;
font-size: 20px;
margin-left: 30px;
}

.about_icon{
  height: 400px;
  width: 600px;
  border: 1px solid black;
}









.section_card .card_about-item {
  display: flex;
  align-items: flex-end;
}

.card_area-btn a {
  text-decoration: none;
  font-weight: 600;

}

.section_card .container {
  flex-wrap: wrap;
}

  .card_about {
    cursor: pointer;
    margin-left:150px;
    position: relative;


}
.card_about-item{
  color: #1c918e;;

}


.card_about-item i{
  font-size: 20px;
  margin-top: 30px

}


.card_about-item p {
  color: #bcbebc;
  width: 100px;
}

.f-right{
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.btpos{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-top: 300px;
}
.btn_f{
  background: #1c918e;;
  line-height: 20px;
  padding: 5px 5px;
}





.box_text{
  margin: auto;
}
.box_text{
text-align: center;
}

.box_text h4{
font-size: 30px;
}
/* box-img */

.card_proj {
  background: #ffffff;


}









 .card_ph {

  width: calc(100% / 3);
  position: relative;
}

 .card_ph:hover {
  cursor: pointer;
}

.card_proj .card_ph:not(:last-child) {
  margin-right: 20px;
}





.ds_flex_wrap{
  display: flex;
  flex-wrap: wrap;

}

.card_proj .card_ph .feedback-photo {
  position: relative;
}

.card_proj .card_ph .feedback-photo::before {

  position: absolute;
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, .9);
  border-radius: 10px;
  opacity: 0.5;
  transition: all .2s ease-out 0s;
}

.feedback-photo img {
  max-width: 100%;
  border-radius: 10px;
}

.feedback-text {
  margin: 0 40px;
  position: absolute;
  bottom: 5px;

}



.card_proj .card_ph .feedback-text h3 {
  font-size: 24px;
  color: #f9f9f9;
  margin-bottom: 15px;
  text-align: center;
}
.box_text h1{
font-size: 50px;
}

.bg_scacco{
  background-image: url("../img/bg-7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px
}


/* get in touch */
.form_mess {
  padding: 30px 0 150px;
}
.form_mess .touch {
  width: 65%;
}

.form_mess .touch p {
  color: #606d75;
  font-size: 17px;
  margin: 30px 0 55px;
}

.form_mess .touch .form {
  flex-wrap: wrap;
}

.form_mess .touch .form .name,
.form_mess .touch .form .email,
.form_mess .touch .form .phone,
.form_mess .touch .form .info {
  width: 50%;
  position: relative;
}

.form_mess .touch .form .info  a i {
  position: absolute;
  top: 21px;
  right: 13px;
  font-size: 17px;
  color: rgba(33, 51, 62, .4);
}

.form_mess .touch .form .name,
.form_mess .touch .form .phone {
  padding-right: 15px;
}


.form_mess .touch .form input,
.form_mess .touch .form textarea {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #21333e;
  background: rgba(0, 0, 0, .075);
  border-radius: 4px;
  line-height: 2;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 17px;
  border: none;
}

.form_mess .touch .form .text_area {
  width: 100%;
}

.form_mess .touch .form .form-btn {
  margin-top: 30px;
}

.form_mess .touch .form .form-btn a {
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
}

.form_mess .example {
  width: 35%;
  padding-left: 60px;
}

.form_mess .example h3 {
  margin-top: 90px;
  color: #21333e;
  font-size: 25px;
}

.form_mess .example p {
  color: #606d75;
  font-size: 17px;
  margin: 20px 0;
  line-height: 1.5;
}

.form_mess .example > div {
  display: flex;
}

.phone p,
.email p,
.map p,
.example i {
  color: #1c918e;;
  font-size: 15px;
  margin: 20px 15px 15px 0;
  cursor: pointer;
}

.form_mess .example i {
  position: relative;
  bottom: 4px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  background: rgba(5, 130, 131, 0.15);
  border-radius: 100px;
  text-align: center;
  line-height: 40px;
}

 .business-btn a {
  text-decoration: none;
  color: #1c918e;;
  font-weight: bold;
  font-size: 17px;
  margin-top: 20px;
}

.business-btn a:hover {
  color: #ffffff;
}



.btn {
  background: #1c918e;;
  line-height: 20px;
  padding: 15px 20px;
  border-radius: 5px;
}


/* FOOTER */
 .main-footer {
  background-color: #122439;
  color: #c0c3d0;
  height: 620px;
  padding: 140px 0;
}

.main-footer .brand {
  font-size: 24px;
  margin-bottom: 40px;
}

.main-footer p {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 1.5;
}

footer .main-footer ul {
  list-style: none;
  margin-bottom: 40px;
}

.main-footer ul li a {
  color: #c0c3d0;
  font-size: 15px;
  text-decoration: none;
  line-height: 2.2;
}



 .main-footer ul li a i {
  margin-right: 10px;
}

.business-btn a {
  font-size: 16px;
  text-decoration: none;
  color: #1c918e;
}

 .footer-first,
 .footer-second,
 .footer-third {
  background: grey;
  padding: 10px 55px 0;

}



footer .main-footer h3 {
  margin-bottom: 15px;
}
