<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Consultant</title>
  </head>
  <body>
    <div id="root">

      <header class="top_header">
        <div class="container ds_flex">

          <div class="ds_flex">
            <i class="fas fa-clock mright-8 position"></i>
            <p>Open Hours: Mon - Sat - 9:00 - 18:00</p>
          </div>

          <div class="ds_flex">
            <div class="phone ds_flex mleft-40">
              <i class="fas fa-phone-alt mright-8 position"></i>
              <p>+1 (305) 1234-5678</p>
            </div>
            <div class="email ds_flex mleft-40">
              <i class="fas fa-envelope mright-8 position"></i>
              <p>hello@example.com</p>
            </div>
            <div class="icon-social ds_flex">
              <ul class="ds_flex">
                <li v-for="e in socialMedia" class="mleft-40">
                  <a href="#">
                    <i :class="`fab ${e.icon}`"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <header class="main-header">
        <div class="container ds_flex">
          <!-- logo -->
          <div class="logo">
            <img src="img/logo.png" alt="">

          </div>
          <!-- Navbar menu -->
          <nav class="navbar_menu ds_flex">
            <ul class="ds_flex">
              <li v-for="element in navList" class="mright-40">
                <a href="#">
                  {{ element.navElem }}
                </a>
              </li>
            </ul>
            <ul class="ds_flex">

              <li>
                <a class="btn_nav" href="#">GET IN TOUCH</a>
              </li>
            </ul>
          </nav>
        </div>


      </header>




    </div>
  <!-- script.js -->
  <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
