<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Consultant</title>
  </head>
  <body>
    <div id="root">


      <header class="top_header">
        <div class="container ds_flex">

          <div class="ds_flex">
            <i class="fas fa-clock mright-8 position"></i>
            <p>Open Hours: Mon - Sat - 9:00 - 18:00</p>
          </div>

          <div class="ds_flex">
            <div class="phone ds_flex mleft-40">
              <i class="fas fa-phone-alt mright-8 position"></i>
              <p>+1 (305) 1234-5678</p>
            </div>
            <div class="email ds_flex mleft-40">
              <i class="fas fa-envelope mright-8 position"></i>
              <p>hello@example.com</p>
            </div>
            <div class="icon-social ds_flex">
              <ul class="ds_flex">
                <li v-for="e in socialMedia" class="mleft-40">
                  <a href="#">
                    <i :class="`fab ${e.icon}`"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <header class="nav_header">
        <div class="container ds_flex">
          <!-- logo -->
          <div class="logo">
            <img src="img/logo.png" alt="">

          </div>
          <!-- Navbar menu -->
          <nav class="navbar_menu ds_flex">
            <ul class="ds_flex">
              <li v-for="element in navList" class="mright-40">
                <a href="#">
                  {{ element.navElem }}
                </a>
              </li>
            </ul>
            <ul class="ds_flex">

              <li>
                <a class="btn_getin" href="#">GET IN TOUCH</a>
              </li>
            </ul>
          </nav>
        </header>

          <div class="bg">
            <div class="bg_text">
              <h1>Ready Team</h1>
              <p class="txt-a">No matter what your company needs,<br> we will ready to assist you in the best possible way</p>
              <div class="pos_btn">
                <a class="btn_cent" href="#">Get in touch</a>
                <a class="btn_cent" href="#">Read more</a>

              </div>

            </div>

          </div>




       <section class="section_card">
       <div class="container ds_flex">
         <div class="card_area">
           <h4 class="">Our business areas</h4>
           <h2>
             Excellence in Services
           </h2>
           <p>We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of experienced and renowned professionals. These are some options that you can hire.</p>
         </div>

         <div class="card_area-btn">
           <a class="btn2" href="#">See all</a>
         </div>
       </div>
       <div class="container ds_flex">
         <div class="card ds_flex">
           <div class="card-item">
             <i class="fas fa-sitemap"></i>
             <h3>Audit & Assurance</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
           </div>
           <a href="#">
             <i class="fas fa-arrow-right"></i>
           </a>
         </div>
         <div class="card ds_flex">
           <div class="card-item">
             <i class="fas fa-briefcase"></i>
             <h3>Financial Advisory</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
           </div>
           <a href="#">
             <i class="fas fa-arrow-right"></i>
           </a>
         </div>
         <div class="card ds_flex">
           <div class="card-item">
             <i class="fas fa-chart-bar"></i>
             <h3>Analytics and M&A</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
           </div>
           <a href="#">
             <i class="fas fa-arrow-right"></i>
           </a>
         </div>
         <div class="card ds_flex">
           <div class="card-item">
             <i class="fas fa-plane"></i>
             <h3>Middle Marketing</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
           </div>
           <a href="#">
             <i class="fas fa-arrow-right"></i>
           </a>
         </div>
         <div class="card ds_flex">
           <div class="card-item">
             <i class="fas fa-globe-europe"></i>
             <h3>Legal Consulting</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
           </div>
           <a href="#">
             <i class="fas fa-arrow-right"></i>
           </a>
         </div>
         <div class="card ds_flex">
           <div class="card-item">
             <i class="fas fa-archive"></i>
             <h3>Legal Consulting</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
           </div>
           <a href="#">
             <i class="fas fa-arrow-right"></i>

           </a>
         </div>
       </div>
     </section>
     <!-- fine card -->
     <section>
       <div class=" ds_flex">
         <div class="container ds_flex box_left">
           <div class="card_about">
             <h4 class="">About the network</h4>
             <h2>
               The Company
             </h2>
             <p>For 12 years have been provindig and warrantly finacial</p>
             <div class="card_about-item f-right clearfix">
               <i class="fas fa-sitemap"></i>
               <h3>Tradition</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
             </div>
             <div class="card_about-item">
               <i class="fas fa-sitemap"></i>
               <h3>Tradition</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
             </div>
             <div class="card_about-item f-right clearfix ">
               <i class="fas fa-sitemap"></i>
               <h3>Tradition</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
             </div>
             <div class="card_about-item">
               <i class="fas fa-sitemap"></i>
               <h3>Tradition</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
             </div>
             <div class="btpos">
               <a class="btn_f" href="#">Get in touch</a>
               <a class="btn_f" href="#">Read more</a>

             </div>
           </div>
             <!-- <h4 class="">About the network</h4>
             <h1>The Company</h1>
             <p>For 12 years have been provindig and warrantly finacial </p> -->
             <!-- <div class="card_about ds_flex">
               <div class="card-item">
                 <i class="fas fa-sitemap"></i>
                 <h3>Audit & Assurance</h3>
                 <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
               </div>

             </div> -->




         </div>
         <div class="box_right">
           <img :src="boxImg" alt="">

         </div>

       </div>

     </section>











    </div>
  <!-- script.js -->
  <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
